.auth-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17rem;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-img {
  margin-top: 5rem;
}

.auth-title,
.auth-subtitle {
  text-align: center;
}

.auth-title {
  font-size: 3rem;
  font-weight: 500;
}

.auth-subtitle {
  font-size: 1.75rem;
  font-weight: 400;
}

.auth-info__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.back-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
  margin-top: 1rem;
}

.back-btn {
  width: 1.75rem;
  height: 1.75rem;
  border: none;
  background-color: #c0c0c033;
  border-radius: 50%;
  cursor: pointer;
}

.back-title {
  text-decoration: none;
}

.auth__link {
  text-decoration: none;
  color: #212121;
  font-weight: 400;
  font-size: 1rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.auth-form h3 {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.password-field {
  height: 3rem;
}

ul {
  text-align: left;
}

li {
  font-size: 0.75rem;
  font-weight: 500;
  color: #767676;
}

.input-error {
  border: 2px solid #fc8181;
}

.auth-btn {
  width: 22rem;
  height: 3.2rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.75rem;
  cursor: pointer;
  margin-bottom: 3rem;
  border: none;
}

.auth-btn_black {
  background-color: #292929;
  color: #fff;
}

.auth-btn_gray {
  background-color: #d7d7d7;
  color: #767676;
}
