.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 24rem;
  height: 18rem;
  padding: 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-title {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.modal-subtitle {
  color: #767676;
  font-size: 1rem;
}

.modal-btn {
  width: 20rem;
  height: 3.2rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.75rem;
  background-color: #292929;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.modal-btn_white {
  background-color: #fff;
  color: #292929;
}
