.loggedin-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.loggedin-title {
  font-size: 2.25rem;
  font-weight: 500;
}

.loggedin-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
